.header {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}

@font-face {
    font-family: lobster;
    src: url(fonts/Lobster-Regular.ttf);
}

.tech {
    display: flex;
    align-self: center;
    font-size: xx-large;
    color: white;

}

.tech img{
    border-radius: 50%;
    margin-top: 8px;
}


body {
    max-height: 1000vh;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    align-items: start;
    margin-right: 40px;
    color: white;
}

.coding-block {
    display: flex;
    height: 60%;
    justify-content: space-between;
}

.coding-info {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin-top: 20px;
    padding-bottom: 15px;
    
}


.same {
    width: 400px;
    color: white;
}

.coding-block img{
  display: flex;
  justify-self: end;
  padding: 20px;
}


.coding-block button{
    width: 85px;
    border-radius: 8px;
    font-size: large;
    background-color: rgb(0, 132, 255);
    color: white;
    border: white;
}


.coding-block p{
    font-family: sans-serif;
    font-size: large;
    
}

.main-div {
    background-color: rgb(115, 248, 133);
}

.repair {
    display: flex;
    height: 26%;
    justify-content: center;

}

.header2 {
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.visual-rep{
    display: flex;
    align-self: start;
    gap: 60px;
    padding-top: 20px;
    
}


.repair img{
    width: 150px;
    height: 150px;
    display: flex;
    
   
}


.header2 {
    font-family: lobster;
    src: url(fonts/Lobster-Regular.ttf);
    font-size: large;
}

.text-photo {
    display: flex;
    justify-content: center;
    gap: 60px;
    height: 10%;
}

.text-photo p{
    height: 100px;
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(214, 210, 210);
    
}

@font-face {
    font-family: italianno;
    src: url(fonts/Italianno-Regular.ttf);
    font-size: xx-large;
}

.quo-edit {
    font-family: italianno;
    src: url(fonts/Italianno-Regular.ttf);
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    margin-bottom: 0;
}

.message {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    height: 40%;
    background-color: rgb(0, 132, 255);
    border-radius: 25px;
    margin: 80px;
    padding: 60px;
    
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 200px;
}

.message button{
    display: flex;
    height: 20px;
    align-self: center;
    margin-right: 200px;
    background-color: rgb(0, 132, 255);
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: large;

}

.fullbg {
    background-color: rgb(231, 236, 231);
}

 


